/*Import google fonts*/
@import url("https://fonts.googleapis.com/css?family=Anton|Cookie|Merriweather|Roboto|Sofia&display=swap");

:root {
  --primary-color: rgb(52, 189, 136);
  --light-gray: rgb(214, 205, 205);
  --border: black;
  --text-color: black;
  --roboto: "Roboto", sans-serif;
  --merriweather: "Merriweather", sans-serif;
  --anton: "Anton", sans-serif;
}

.primary-color {
  color: var(--primary-color);
}

.bg-primary-color {
    background-color: var(--primary-color) !important;
}

.text-color {
    color: var(--text-color);
}

.font-roboto {
    font-family: var(--roboto);
}

.lightblue {
    color: lightblue;
}

/* header */

header {
    background-color: var(--primary-color);
    font-family: var(--roboto);
}

header .site-title {
    font-family: var(--anton);
    font-size: 2.3em;
}

.container .dropdown-toggle,
.container .dropdown-item {
    font-size: 0.9em;
    font-family: var(--merriweather);
}

.header-links a{
    font-size: 1.0em;
    text-decoration: none;
    color: white;
}